body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

#headMainContainer {
    background-color: rgb(109, 109, 109);
    display: flex;
    align-items: center;
    height: 100px;
    flex-shrink: 0;
}

#headUserGreet {
    margin-left: 20px;
    width: 100%;
    font-size: 20px;
}

#headUserCorp {
  width: 100%;
  font-size: 20px;
}

#headUserBalance {
    margin-right: 20px;
    width: 100%;
    text-align: right;
    font-size: 20px;
}