body {
    background-color: #383D3D;

}
a {
    text-decoration: none;
    color: #A9CDCF
}

#conteiner {
    background-color: white;
    width: 1460px;
    margin-left: auto;
    margin-right: auto;

}
#header {
    background-color: #333637;
    color: #A9CDCF;
    height:100px;
    border-bottom: 1px;
    border: 2px;
    border-radius: 8px;
    margin-bottom: 10px;
}
#navig {
    float: left;
    background-color: #576162;
    width: 150px;
    height: 590px;
    color: #A9CDCF;
    border-bottom: 1px;
    border: 2px;
    border-radius: 8px;
    margin-right: 10px; 
}
#main {
    float: left;
    background-color: #CBCECE;
    width: 1300px;
    height: 590px;
    border-bottom: 1px;
    border: 2px;
    border-radius: 8px;
}
#MiningDrone {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    width: 100px;
    height: 100px;

}
#text1 {
    float: left;
}
#text4 {
    float: left;
}
#text4 {
     float: left;
}