<style type="text/css">
body {
    background-color: #2C3531;
}
a {
    text-decoration: none;
    color: #A9CDCF
}

#conteiner {
    background-color: white;
    width: 1460px;
    margin-left: auto;
    margin-right: auto;

}
#header {
    position: relative;
    background-color: #116466;
    color: #D9B08C;
    height:100px;
    border-bottom: 1px;
    border: 2px;
    border-radius: 0px;
    margin-bottom: 0px;
}
#navig {
    float: left;
    background-color: #576162;
    width: 150px;
    height: 590px;
    color: #A9CDCF;
    border-bottom: 1px;
    border: 2px;
    border-radius: 0px;
    margin-right: 0px;
}
#main {
    float: left;
    background-color: #CBCECE;
    width: 1310px;
    height: 590px;
    border-bottom: 1px;
    border: 2px;
    border-radius: 0px;
}
#MiningDrone {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    width: 100px;
    height: 100px;

}
#text1 {
    float: left;
}
#text4 {
    float: left;
}
#text4 {
     float: left;
}

#userName {
    position: absolute;
    top: 50%;
    margin-bottom: -5px
    float: left;
    margin-left: 25px
}

#userAccBalance{
    display: flex;
    align-items: center;
    float: right;

}

</style>