<style type="text/css">
@import url(//db.onlinewebfonts.com/c/557661ea24d10fa4d2d85f60f04411d8?family=Shentox);
body {
    background-color: #545759;
}

.container {
    width: 100%;
    position: absolute;
    background-color: #545759;
    top: 30%;
}

.loginWindow {
    background-color: #43464b;
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 200px;
}

.loginText {
    margin: 0 auto;
    position: relative;
    left: 15%;
    top: 15%;
    font-family: Shentox;
    color: aliceblue;
}
.loginTextLower {
    position:absolute;
    font-size: 13px;
    top: 25%;
    left: 20%;
    font-family: Shentox;
    color: aliceblue;
}

a {
    width: auto;
    position: absolute;
    left: 15%;
    top: 40%;
    margin: 0px auto;
    border: none;
}
</style>