<style type="text/css">
@import url(//db.onlinewebfonts.com/c/557661ea24d10fa4d2d85f60f04411d8?family=Shentox);
body {
    background-color: #545759;
    width: 100%;
}

#navig {
    background-color: #36383c;
    height: 800px;
    flex: 0 0 40px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

#navig a:hover{
    color: red;
}

#openNavi{
    font-family: Shentox;
    height: 100px;
    width: 100%;
    color: white;
    vertical-align: middle;
    line-height: 100px;
    color: white;
    background-color: #36383c;
    outline: none;
    border: none;
}
.button{
    outline: none;
}

#navig button:hover{
    background-color: #545759;
}

#navig button:active{
    background-color: #36383c;
}


.sideButtons {
    font-family: Shentox;
    width: 100%;
    height: 50px;
    color: white;
    line-height: 50px;
    transition: 0.2s;
    border: none;
    background-color: #36383c;
    padding-left: 12px;
    text-align: left;
    outline: none;
    font-size: 15px;
}

#main-flex-container{
    display: flex;
    width: 100%;
    height: 100px;
}




#conteiner {
    width: 100%;
}

#flex-header {
    font-family: Shentox;
    display: flex;
    width: 100%;
    background-color: #43464b;
    color: white;
    height: 100px;
}

#main {
    
}


#display {
    background-color: #bcb9b4;
    width: inherit;
    height: 700px;
}


#userName {
    font-family: Shentox;
    position: relative;
    width: 100%;
    margin-top: 34px;
    margin-left: 30px;
    font-size: 20px;
}

#userAccBalance{
    font-family: Shentox;
    position: relative;
    width: 100%;
    margin-top: 34px;
    margin-right: 34px;
    text-align: right;
    font-size: 20px;
}
</style>